:root {
    --vh: 100%;
}
.mainPage{
    background-image: url(/public/images/icon/main_img.webp);
    height: calc(var(--vh, 1vh) * 100);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center calc(-65px);
    margin: 0 auto;
    max-width: 500px;
}
.startBtn{
    padding: 10px 30px;
    border: 2px solid #000;
    border-radius: 30px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    letter-spacing: 5px;
    transform: translate(-50%, -5px);
    font-weight: bold;
    background: linear-gradient(to left top, #ffffff, #b0ff27);
    box-shadow: 1px 2px 4px #000000;
}
@media screen and (max-width: 500px) {
    .startBtn{
        bottom: 1%;
        transform: translate(-50%, -5px);
    }
  }