:root {
    --vh: 100%;
}
.testPage{
    background-image: url(/public/images/icon/bg_img.jpg);
    height: calc(var(--vh, 1vh) * 100);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 425px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 10px;
}
.progressBar{
    width: 260px;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -30px);
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 2px;
    height: 25px;
    overflow: hidden;
}
.progressInner{
    border-radius: 5px 0 0 5px;
    background: #fff;
    height: 100%;
    transition: width 0.5s linear;
}
.qustionWrap{
    position: relative;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 20px;
}
.textWrap{
    width: 80vw;
    position: relative;
    margin: 0 auto;
}
.qustionWrap .qna{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 45px;
    font-size: 16px;
    filter: drop-shadow(0.5px 0.7px 0.7px #000000);
}
.answerbtn{
    position: relative;
    height: 100px;
    width: 80vw;
    margin: 0 auto;
    font-size: 14px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/public/images/icon/answer.png);
}

