:root {
    --vh: 100%;
}
.testPage{
    background: url(/public/images/icon/bg_img.webp) center / cover no-repeat;
    height: calc(var(--vh, 1vh) * 100);
    background-position: center;
    /* max-width: 425px; */
    margin: 0 auto;
    border: 1px solid #000;
    padding: 10px;
    margin: 0 auto;
    max-width: 500px;
}
.progressBar{
    width: 400px;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -30px);
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 2px;
    height: 35px;
    overflow: hidden;
}
.progressInner{
    border-radius: 5px 0 0 5px;
    background: #fff;
    height: 100%;
    transition: width 0.5s linear;
}
.qustionWrap{
    position: relative;
    margin: 220px 0 40px;
    text-align: center;
}
.textWrap{
    width: 450px;
    position: relative;
    margin: 0 auto;
}
.qustionWrap .qna{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 45px;
    font-size: 22px;
    filter: drop-shadow(0.5px 0.7px 0.7px #000000);
}
.answerbtn{
    position: relative;
    height: 120px;
    margin: 0 auto;
    font-size: 18px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(/public/images/icon/answer.webp) center / contain no-repeat;
}
.answerbtn:first-of-type{
    margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
    .progressBar{
        width: 300px;
        height: 25px;
    }
    .textWrap{
        width: 100vw;
    }
    .qustionWrap{
        margin: 140px 0 20px;
    }
    .qustionWrap .qna{
        font-size: 18px;
    }
    .answerbtn{
        font-size: 16px;
        height: 100px;
    }
  }